.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front{
    padding-top: 25%;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  /* Style the back side */
  .flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: rotateY(180deg);
  }
  
  .nav-link:hover {
    transform: scale(1.2); /* Verkleinert das Bild auf 80% */
    transition: transform 0.3s ease; /* Fügt eine flüssige Übergangswirkung hinzu */
  }
  .btn:hover:hover {
    transform: scale(1.2); /* Verkleinert das Bild auf 80% */
    transition: transform 0.3s ease; /* Fügt eine flüssige Übergangswirkung hinzu */
  }
  .navbar-brand:hover {
    transform: scale(1.2); /* Verkleinert das Bild auf 80% */
    transition: transform 0.3s ease; /* Fügt eine flüssige Übergangswirkung hinzu */
  }
  .arrow:hover {
    transform: scale(1.2); /* Verkleinert das Bild auf 80% */
    transition: transform 0.3s ease; /* Fügt eine flüssige Übergangswirkung hinzu */
  }  

  .jumbotron {
    box-sizing: border-box;
    background-image: url('img/mountain.jpg');
    background-size: cover;
    background-position: center center;
    background-position-y: 60%;
    padding-bottom: 20%;
    background-attachment: fixed;
    
  }
  .header{
    position: fixed;
    width: 100%;
    background-color: transparent;
  }

  
